body {
  margin: 0;
}

/* Header  */
.header {
  position: relative;
  background-color: #ffffff;
}

.logo {
  float: left;
}

.logo__img {
  height: 100px;
  width: 100px;
  margin-left: 5rem;
}

.header__inner {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4871a1;
}

h1 {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

#header .menu a {
  float: right;
  margin-left: auto;
  color: #fffacd;
  margin-right: 50px;
  text-decoration: none;
}

.top-slider {
  background-position: center;
  background-size: cover;
  filter: blur(0.8px);
  -webkit-filter: blur(0.5px);
}

@media (max-width: 767px) {
  .logo__img {
    width: 80px;
    height: 80px;
    margin: 1rem;
  }

  .top-slider {
    margin-bottom: 5rem;
  }

  .top-slider__title {
    font-size: 40px;
    text-align: center;
  }

  .top-slider__btn {
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    font-family: 500;
    margin-left: 80px;
    background-image: none;
  }

  .about {
    display: none;
  }

  .about-us {
    padding: 20px 0;
  }

  .menu__list {
    height: 250px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 110px;
    position: absolute;
    background-color: #4871a1;
    font-weight: 900;
  }

  #header .menu a {
    float: left;
    margin-left: 20px;
  }

  .products {
    padding: 50px;
  }

  .products-items {
    width: 100%;
  }

  /* Insight  */
  .insights__content {
    padding: 20px;
  }

  .insights__text {
    margin-bottom: 5px;
    border-bottom: none;
  }
  .insights__date {
    font-size: 12px;
    text-align: center;
    margin: 2px auto;
  }
}
