body {
  margin: 0;
}

/* Header  */
.header {
  position: relative;
  background-color: #ffffff;
}

.logo {
  float: left;
}

.logo__img {
  height: 100px;
  width: 100px;
  margin-left: 5rem;
}

.header__inner {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4871a1;
}

h1 {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

#header .menu a {
  float: right;
  margin-left: auto;
  color: #fffacd;
  margin-right: 50px;
}
